.localization {
    background-color: #eaeaea;
    height: 50px;
    text-align: center;

    &__input {
        background-color: #eaeaea;
        border: none;
        margin: 15px auto;
        padding: 1px 18px;
        text-align: center;
        font-weight: 500;
    }
}

.explore {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: $bg-grey;
    padding-top: 41px;
    padding-bottom: 30px;
    &__title {
        padding: 0 40px;
    }
    &__subtitle {
        font-size: 1.16em;
        font-weight: 300;
        margin-top: 16px;
    }

}

/* Fonctionnement */

.operation {
    padding-top: 50px;
    padding-bottom: 44px;
    &__title {
        margin-bottom: 6px;
    }
    &__step {
        display: flex;
        align-items: center;
        margin: 24px 0px 24px 13px;
        padding-left: 34px;
        max-width: 372px;
        height: 73px;
        border-radius: 1.25em;
        background-color: $bg-grey;
        @include shadow;
        font-weight: 600;
        transition: all 300ms;
        & .icon {
            transition: all 250ms;
        }
        & p {
            position: relative;
            left: 23px;
        }
        &::before {
            content: "1";
            width: 24px;
            height: 24px;
            background-color: $primary;
            color: #fff;
            text-align: center;
            padding-top: 3px;
            font-size: 0.94em;
            border-radius: 50%;
            position: relative;
            left: -46px;
        }
        
        &--2::before {
            content: "2";
        }
        &--3::before {
            content: "3";
        }
        &:hover {
            .operation__icon {
                color: $primary;
            }
            background-color: #f5edff;
        }
        }
    &__icon {
        color: #7e7e7e;
    }
}

@media #{$small-up} {
    .operation {
        &__step {
            margin: 24px auto;
        }
    }
}

/* Restaurants */

.restaurants {
    background-color: $bg-grey;
    padding-top: 55px;
    padding-bottom: 46px;
}
.card {
    margin: 18px auto;
    width: 100%;
    max-width: 384px;
    height: fit-content;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    @include shadow;
    &__img {
        background-size: 103%;
        background-position: center bottom;
        background-repeat: no-repeat;
        width: 100%;
        height: 174px;
        border-radius: 1em 1em 0 0;
        &--1 {
            background-image: url(../images/restaurants/jay-wennington-N_Y88TWmGwA-unsplash_sm.jpg);    
        }
        &--2 {
            background-image: url(../images/restaurants/stil-u2Lp8tXIcjw-unsplash_sm.jpg);
            background-position-y: 62%;
        }
        &--3 {
            background-image: url(../images/restaurants/toa-heftiba-DQKerTsQwi0-unsplash_sm.jpg);
        }
        &--4 {
            background-image: url(../images/restaurants/louis-hansel-shotsoflouis-qNBGVyOCY8Q-unsplash_sm.jpg);
        }
    }
    &__body {
        background-color: #fff;
        border-radius: 0 0 1em 1em;
        padding: 16px 24px 16px 13px;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        height: 77px;
        justify-content: center;
    }
    &__title {
        margin-bottom: 4px;
        font-size: 1.1em;
        font-weight: 800;
    }
    &__text {
        font-size: 1.06em;
    }
}


.card--new {
    .card__img::after {
        content: "Nouveau";
        font-size: 0.83em;
        color: #008766;
        width: 80px;
        height: 29px;
        text-align: center;
        padding-top: 6px;
        background-color: #99e2d0;
        border-radius: 2px;
        position: relative;
        float: right;
        top: 13px;
        right: 12px;
    }
}

@media #{$medium-up} {
    .restaurant__content {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }
    .card {
        min-width: 332px;
        margin: 18px 10px;
    }
}