/* loader */
@keyframes loader {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@keyframes loader-end {
    0% {
        opacity: 1;
        z-index: 5;
    }
    100% {
        opacity: 0;
        z-index: -1;
    }
}

/* menu apparition */

@keyframes menu-apparition {
    0% {
        opacity: 0;
        transform: translateY(10px);
    }
    80%, 100% {
        opacity: 1;
    }
    100% {
        transform: translateY(0);
    }
}

/* check menu */

@keyframes checked-menu {
    0% {
        transform: scaleX(0);
        width: 0%;
    }
    17% {
        transform: scaleX(.18);
        width: 3.6%;
    }
    24% {
        transform: scaleX(.4);
        width: 8%;
    }
    46% {
        transform: scaleX(.81);
        width: 16%;
    }
    100% {
        transform: scaleX(1);
        width: 20%;
    }
}

@keyframes checked-menu_text {
    0% {
        width: 100%;
    }
    17% {
        width: 96%;
    }
    24% {
        width: 88%;
    }
    46% {
        width: 83.6%;
    }
    100% {
        width: 80%;
    }
}
