@keyframes checked-menu {
    0% {
        transform: scaleX(0);
        width: 0%;
    }
    17% {
        transform: scaleX(.18);
        width: 3.6%;
    }
    24% {
        transform: scaleX(.4);
        width: 8%;
    }
    46% {
        transform: scaleX(.81);
        width: 16%;
    }
    100% {
        transform: scaleX(1);
        width: 20%;
    }
}

@keyframes checked-menu_text {
    0% {
        width: 100%;
    }
    17% {
        width: 96%;
    }
    24% {
        width: 88%;
    }
    46% {
        width: 83.6%;
    }
    100% {
        width: 80%;
    }
}